CONFIG_FIREWIRE=y
CONFIG_FIREWIRE_OHCI=y
CONFIG_FIREWIRE_SBP2=y

# Userspace hardware encoders use these media/v4l2 interfaces.
CONFIG_MEDIA_SUPPORT=y
CONFIG_MEDIA_CONTROLLER=y
CONFIG_VIDEO_DEV=y
CONFIG_V4L_MEM2MEM_DRIVERS=y
CONFIG_VIDEO_V4L2=y
